spring:
  application:
    name: hhplus
  profiles:
    active: local
  datasource:
    name: ECommerceDataSource
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      auto-commit: false
      maximum-pool-size: 2  # Core 모듈은 최소 연결만 사용
      minimum-idle: 1
      connection-timeout: 15000  # timeout 증가
      max-lifetime: 60000
      idle-timeout: 30000
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    open-in-view: false
    generate-ddl: false
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate.timezone.default_storage: NORMALIZE_UTC
      hibernate.jdbc.time_zone: UTC
      hibernate.jdbc.batch_size: 20
      hibernate.order_inserts: true
      hibernate.order_updates: true
      hibernate.jdbc.batch_versioned_data: true
      hibernate.connection.provider_disables_autocommit: true
      hibernate.transaction.jta.platform: none  # JTA 사용하지 않음을 명시
